/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background: #503083;
    padding: 20px;
    color: white;
    
    font-size: 24px;
}
h2{
    font-family: "Permanent Marker", serif;
    background-color: rgb(255, 247, 0);
}
section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
img {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 10px auto;
}
.cta-button {
    background: #5b07b4;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}
.cta-button:hover {
    background: #ff6347;
}
footer {
    background: #222;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
footer a {
    color: #dbfb0b;
    text-decoration: none;
    margin: 0 10px;
}

/* Responsividad */
@media (max-width: 768px) {
    header {
        font-size: 20px;
        padding: 15px;
    }
    section {
        padding: 15px;
    }
    .cta-button {
        font-size: 16px;
        padding: 12px 18px;
    }
    footer {
        padding: 15px;
    }
    img {
        width: 100%;
        max-width: 500px;
    }
}